$primary-1: #bc3ce9;
$primary-2: #9c63ff;
$primary-3: #ab7aff;
$primary-4: #c4a2ff;
$primary-5: #b946e9;
$primary-6: #c0c4e9;
$primary-7: #774bf0;

$secondary-1: #85dff3;
$secondary-2: #5fd6fb;
$secondary-3: #2fccff;
$secondary-4: #00c0ff;
$secondary-5: #00a4ff;
$secondary-6: #2a54c1;
$secondary-7: #0066ff;

$tertiary-1: #2d2c2c;
$tertiary-2: #424141;
$tertiary-3: #686f7a;
$tertiary-4: #6c6b6b;
$tertiary-5: #ababab;
$tertiary-6: #d5d5d5;
$tertiary-7: #f5f5fb;
$tertiary-8: #f3f4f5;
$tertiary-9: #f0f0f0;
$tertiary-10: #ffffff;
$tertiary-11: #575757;
$tertiary-12: #f4f4f4;
$tertiary-13: #757575;
$tertiary-14: #333333;
$tertiary-15: #707070;
$tertiary-16: #959595;
$tertiary-17: #e9f1ff;

$quaternary-1: #e03b3b;
$quaternary-2: #f94242;
$quaternary-3: #fb8e8e;

$quinary-1: #17b055;
$quinary-2: #47d07e;
$quinary-3: #a3e7bf;
